body{
	background: #F6F8FD;
}
.row-gutter-sm {
    padding-right: 10px;
    padding-left: 10px;
}
.gutter-sm {
    padding-right: 5px;
    padding-left: 5px;
}
.margin-top-sm {
    margin-top: 30px;
}
.form-control:focus {
    box-shadow: none;
    outline: 0;
}

.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

/*navbar*/
.navbar-wrapper{
	background: #FFFFFF;
	    border-bottom: solid 1px #dce2ed;
}
.navbar-wrapper .navbar{
	margin: 10px 0;
}
.navbar-right{
  margin-right: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav>li>a{
	color: #696C7B;
	text-transform: uppercase;
}

*[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
*[data-tooltip] img{
    width: 14px;
    margin-top: -4px;
}
*[data-tooltip]:before,
*[data-tooltip]:after {
    display: block;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
*[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -40px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  font-weight: normal;
}
*[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
*[data-tooltip]:hover:before,
*[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.white-frontend{
	font-family: 'Karla', sans-serif;
	background: #FFFFFF;
	border:solid 1px #DCE2ED;
	padding: 30px 40px;
	margin:0 auto 110px auto;
	padding-bottom: 65px;
}

.grey-sec{
	background: #F8F8F8;
	padding:25px 15px;
	margin-bottom: 30px;
}
.grey-sec h4,.white-back-title h4{ 
	font-size: 21px;
	font-weight: 700;
	color: #375259;
	margin: 0;
	border-bottom: solid 1px #C9CCD0;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.text-info{
  font-size: 18px;
  color: #444444;
  margin-bottom: 30px;
}

.custom-form .form-group {
    margin-bottom: 12px;
    margin-right: 0;
    margin-left: 0;
}
.custom-form .btn {
	
    font-size: 16px;
    font-size: 1.6rem;
    padding: 9px 26px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none!important;
}
.custom-form .btn+.btn{
	margin-left: 20px;
}
.custom-form .label,.custom-form label {
    color: #37535a;
    margin: 0 0 7.5px;
    padding: 0;
    display: inline-block;
    white-space: normal;
    font-size: 1.15em;
}
.custom-form .checkbox label, .custom-form .radio label{
	    padding-left: 20px;
}
.custom-form .form-control,.custom-form .itemName,.custom-form .select2-container--default .select2-selection--single {
    padding: 10px 12px;
    margin-bottom: 10px;
    height: 45px;
    border: 1px solid #c9ccd0;
    color: #37535a;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 1.1em;
}
.custom-form .select2-container--default .select2-selection--single .select2-selection__arrow{
	top:10px;
}

.custom-form .check_box{
	display: block;
	border:solid 1px #C9CCD0;
	background: #FFF;
	border-radius: 10px;
	cursor: pointer;
	max-width: 300px;
	text-align: center;
	position: relative;
	-moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

}
.custom-form .check_box input[type="checkbox"] {
    display: none;
}
.custom-form .check_box input[type="checkbox"] + span {
    color: #B8C0CE;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    width: 300px;
    padding: 30px;
    height: 225px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    padding-top: 165px;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
}

.custom-form .check_box span.check{
	position: absolute;
	right:-15px;
	top:-15px;
	/*display: none;*/
	opacity: 0;
	 -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    -webkit-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}
.prod_image{
	position: absolute;
	display: block;
    max-width: 150px;
	left:50%;
	transform:translateX(-50%);
	top:15px;
}
.prod_description {
    visibility: hidden;
    width: 200px;
    background-color: #0188B0;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -50px;
    transform: translateY(-100%);
    margin-top: -10px;
    z-index: 1;
    -moz-transition: visibility 0.1s ease-in;
    -o-transition: visibility 0.1s ease-in;
    -webkit-transition: visibility 0.1s ease-in;
    transition: visibility 0.1s ease-in;
}
.prod_description:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #0188B0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.check_box:hover .prod_description{
	visibility: visible;
}

.prod_image img{
 /*-webkit-filter: grayscale(1);
  filter: grayscale(1);*/
  max-width: 100%;
}
.check_box:hover{
	border:solid 1px #9EE1F4;
}
.check_box:hover .prod_image img{
	/*-webkit-filter: grayscale(0);
  filter: grayscale(0);*/
}
.check_box.active{
	border:solid 1px #56BFDE;
}
.check_box.active span.check{
	display: block;
	opacity: 1;
}
.check_box.active .prod_image img{
	/*-webkit-filter: grayscale(0);
  filter: grayscale(0);*/
}
.check_cont{
	    position: relative;
    padding: 0 0 6px 32px;
}
.check_cont label{
	cursor: pointer;
	font-size: 1em;
}
.check_cont .icheckbox_square-blue{
	    position: absolute;
    top: -1px;
    left: 0;
}
.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray
}

.grayscale.grayscale-fade {
    transition: filter .5s
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .grayscale.grayscale-fade {
        -webkit-transition: -webkit-filter .5s;
        transition: -webkit-filter .5s
    }
}

.grayscale.grayscale-fade:hover,
.grayscale.grayscale-off {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.grayscale.grayscale-replaced {
    -webkit-filter: none;
    filter: none
}

.grayscale.grayscale-replaced>svg {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1
}

.grayscale.grayscale-replaced.grayscale-fade:hover>svg,
.grayscale.grayscale-replaced.grayscale-off>svg {
    opacity: 0
}

.set_away{
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.offer_box{
	max-width: 300px;
	padding: 20px;
	background: #FFF;
	border:solid 1px #DCE2ED;
}

.next-btn{
	background: #43B2D3;
	border:solid 2px #0188B0 !important;
	color: #FFF;
	text-transform: uppercase;
	font-size: 20px !important;
	letter-spacing: 0.05em;
	width: 100% !important;
	max-width: 400px;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.prev{
margin-right: 25px;
background: #f17153;
border-color: #ef4c25 !important;
}
.submit{
  background: #6FDA44;
    border-color: #4bb720 !important;
}

.prev, .next{
max-width: 150px;
}
/*.prev{*/
  /*margin-right: 25px;*/
      /*background: #f17153;*/
    /*border-color: #ef4c25 !important;*/
/*}*/
/*.prev, .next{*/
  /*max-width: 150px !important;*/
/*}*/
.add-btn{
	background: #FFF;
	border:solid 2px #0188B0;
	color: #0188B0;
	/*text-transform: uppercase;*/
	font-size: 20px;
	letter-spacing: 0.05em;
	/*width: 100%;
	max-width: 400px;*/
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: -110px;
}
.add-btn:hover{
	background: #0188B0;
	color: #FFF;
}
.add-btn span{
	font-size: 10px;
    border: solid 1px #2488C5;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 18px;
    text-align: center;
    margin-top: -5px;
}
.add-btn:hover span{
	border-color: #FFF;
}
.add-btn span:before {
    padding-left: 3px;
}

/*EMpoyee*/
.emp_form{
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
}
.emp_no{
	position: absolute;
	left: 8px;
    top: 35px;
    font-size: 20px;
}
.input-150{
	width: 150px;
	float: left;
	box-sizing:content-box;
}
.input-120{
	width: 120px;
	float: left;
	box-sizing:content-box;
}
.input-100{
	width: 100px;
	float: left;
	box-sizing:content-box;
}
.input-80{
	width: 80px;
	float: left;
	box-sizing:content-box;
}
.input-25{
	width: 25px;
	float: right;
	box-sizing:content-box;
	position: absolute;
    right: 0;
    top: 35px;
}

.custom-form select option { color: #37535a; }
select option:first-child { color: #999; }
.custom-form select.emp_s { color: #999; }
/* Hidden placeholder */
/*select option[disabled]:first-child { display: none; }*/

.input-80 .check_cont{
    border: solid 1px #c9ccd0;
    background: #fff;
    padding: 10px 0 0 45px;
    height: 45px;
    margin-bottom: 10px;
}
.input-80 .check_cont .icheckbox_square-blue{
	    position: absolute;
    top: 9px;
    left: 8px;
}
.custom-form .btn-remove{
	width: 25px;
	height: 25px;
	padding: 0;
	text-align: center;
	line-height: 24px;
	font-size: 2.5em;
	border-radius: 100%;
}
.emp_form h5{
	color: #354768;
	font-size: 18px;
	font-weight: 700;
	margin: 40px 0 0;
}

/*questionnaire*/
.question-container{
    padding-left: 40px;
    padding-right: 40px;

}
.mb-30{
	margin-bottom: 30px;
}
.clear:after{ 
  clear: both;
}
.clear:before{
  display: table;
    content: " ";
}
.ques-group{
  color:#375259;
  padding-bottom: 10px;
  border-bottom: solid 1px #C9CCD0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.question-title{
	font-size: 20px;
	font-weight: 700;
	color: #375259;
	margin-bottom: 20px;
}
.custom-form .options{
    margin-bottom: 30px;
}
.custom-form .options label{
    cursor: pointer;
    
}
.check-list div.check {
    position: relative;
    padding: 0 0 0 32px;
    float: left;
    margin-right: 30px;
}
.check-list div.check:last-child{
  margin-right: 0;
}
.check-list div.check label{
  font-size: 14px;
}

.check-list div.check .icheckbox_square-blue, .check-list div.check .iradio_square-blue {
    position: absolute;
    top: -1px;
    left: 0;
}
.custom-form .form-control.h-200{
	height: 150px;
}

#progressbar {
    margin: 55px auto;
    overflow: hidden;
    counter-reset: step;
    list-style: none;
    padding: 0;
}
#progressbar li {
    list-style-type: none;
    color: #F6F8FD;
    text-transform: uppercase;
    font-size: 18px;
    width: 33.33%;
    float: left;
   	text-align: center;
    position: relative;
        margin-top: 10px;
}
#progressbar li.active {
	margin-top: 0;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 14px;
    color: #a5a5a5;
    background: #ECF0F5;
    border-radius: 100%;
    border:solid 1px #E7EDED;
    margin: 0 auto 5px auto;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 8px;
    background: #ECF0F5;
    border:solid 1px #E7EDED;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1;
}
#progressbar li:first-child:after {
	content: none; 
}
#progressbar li.active:before{
	width: 56px;
	height: 56px;
	line-height: 56px;
	border-color: #56BFDE;
}
#progressbar li.active:after {
	top: 24px;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #56BFDE;
    color: white;
    font-size: 18px;
}
#progressbar li.done:before, #progressbar li.done:after {
	background: #00B22D;
	color: white;
}
#progressbar li.done:before{
	font-family: 'Glyphicons Halflings';
	content:"\e013";
	border-color: #00B22D;
}