.row-gutter-sm {
    padding-right: 10px;
    padding-left: 10px;
}
.gutter-sm {
    padding-right: 5px;
    padding-left: 5px;
}
.margin-top-sm {
    margin-top: 30px;
}


.content-wrapper, .right-side{
	background: #ECF0F5;
}

.custom-form{
	background: #FFF;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-family: 'Karla', sans-serif;
}
.custom-form .box-header{
	padding: 20px 10px;
}
.custom-form .box-header .box-title{
	font-family: 'Karla', sans-serif;
	color: #37535a;
	font-size: 1.5em;
	font-weight: 700;
}
.custom-form .box-header .box-title span{
	padding: 4px 10px;
}
.custom-form .form-group {
    margin-bottom: 12px;
    margin-right: 0;
    margin-left: 0;
}
.custom-form .btn {
	
    font-size: 16px;
    font-size: 1.6rem;
    padding: 9px 26px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none!important;
}
.custom-form .btn+.btn{
	margin-left: 20px;
}
.custom-form .label,.custom-form label {
    color: #37535a;
    cursor: pointer;
    margin: 0 0 7.5px;
    padding: 0;
    display: inline-block;
    white-space: normal;
    font-size: 1.15em;
}
.custom-form .checkbox label, .custom-form .radio label{
	    padding-left: 20px;
}
.custom-form .form-control,.custom-form .itemName,.custom-form .select2-container--default .select2-selection--single {
    padding: 10px 17.14286px;
    margin-bottom: 7.5px;
    height: 45px;
    border: 1px solid #c9ccd0;
    color: #37535a;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 1.1em;
}
.custom-form textarea.form-control{
	/*height: 100px;*/
}
.custom-form .select2-container--default .select2-selection--single .select2-selection__arrow{
	top:10px;
}
.custom-form .inline-form .form-control{
	width:90%;
}
.custom-form .inline-form .btn{
	width: 10%;
	height: 45px;
	margin-bottom: 7.5px;
}

.check-list div.check {
    position: relative;
    padding: 0 0 18px 42px;
}
.check-list div.check .icheckbox_square-blue, .check-list div.check .iradio_square-blue {
    position: absolute;
    top: -1px;
    left: 0;
}
.check-list div.check label{
	cursor: pointer;
}
.details_view{
    padding-left: 15px;
    padding-right: 15px;
}
.details_view h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px 0 10px 15px;
    background: #E4E4E4;
    border-bottom: solid 1px #ccc;
}
.details_view label{
    font-weight: normal;
}
.details_view p{
    font-weight: bold;
    margin-bottom: 0;
}
.field-row>div{
    max-width: 150px;
        min-height: 50px;
    /*border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;*/
    /*padding-left: 15px;*/
}
.field-row>div:first-child{
   /* border-left: solid 1px #ccc;*/

}

.input_fields{
    width: 200px;
    float: left;
    margin-bottom: 15px;
}
.input_fields-sm{
    width: 110px;
}
.input_fields>label
{color: #b3b3b3;}
.input_fields input, .input_fields textarea, .input_fields select, .input_fields .select2-container--default .select2-selection--single{
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    height: 34px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: transparent;
}
.input_fields textarea{
height: 34px;
    resize: none;
}
.input_fields .btn-remove{
    margin-top: 25px;
    position: absolute;
    right: 25px;
}
.check-cont{
    height: 34px;
    line-height: 34px;
}
.check-cont>input{
    margin: 0;
}
.check-cont>label{
    margin: 0;
    vertical-align: top;
    padding-left: 15px;
}
.descent{
    position: relative;
    clear: both;
    background: #f1f1f1;
  /*  padding-left: 60px;*/
      padding: 15px 0;
      margin-top: 10px;
}
.descent h5{
    /*position: absolute;
    left:15px;*/
    text-align: center;
}
.doc-table-cont{
    max-width: 600px;
}
.row-blue {
    background: #2980b9;
    color: #FFF;
}
.remove_action{
    background: transparent;
    color:red;
    padding: 0; 
    font-size: 11px;    
    color: #3b47ea;
}
.remove_action:hover{
    color: #dd4b39;
}